@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, 25px, 0);
  }
}

@keyframes enlargeTranslate {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: scale(5) translateY(-300%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes fadeInDownHalf {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(-100%);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes typingButton {
  0% {
    width: 0;
  }
  100% {
    width: 256px;
  }
}

@keyframes shadowDance {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}

.ballOne {
  animation: bounce 0.75s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-iteration-count: infinite;
}

.ballShadow1 {
  animation: shadowDance 0.75s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-iteration-count: infinite;
}

.ballShadow2 {
  animation: shadowDance 0.75s 2.25s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-iteration-count: infinite;
}

.ballShadow3 {
  animation: shadowDance 0.75s 1s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-iteration-count: infinite;
}

.ballTwo {
  animation: bounce 0.75s 2.25s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-iteration-count: infinite;
}

.ballThree {
  animation: bounce 0.75s 1s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-iteration-count: infinite;
}

.fadeIn {
  animation: fadeIn 1.5s 0s;
  -webkit-animation-fill-mode: forwards;
}

.fadeInEOButton {
  animation: fadeIn 1.5s 7s;
  -webkit-animation-fill-mode: forwards;
}

.fadeInEOFirst {
  animation: fadeInDownHalf 1.5s 0s;
  -webkit-animation-fill-mode: forwards;
}

.fadeInEOSecond {
  animation: fadeInDownHalf 1.5s 1s;
  -webkit-animation-fill-mode: forwards;
}

.fadeInEOThird {
  animation: fadeInDownHalf 2s 2.5s;
  -webkit-animation-fill-mode: forwards;
}

.fadeInUp {
  animation: fadeInUp 1.5s 0s;
  -webkit-animation-fill-mode: forwards;
}

.fadeOut {
  animation: fadeOut 1s 0s;
  -webkit-animation-fill-mode: forwards;
}

.typedOutOne {
  animation: typing 2s 4.5s;
  white-space: nowrap;
  -webkit-animation-fill-mode: forwards;
}

.typedOutTwo {
  animation: typing 2s 5.5s;
  white-space: nowrap;
  -webkit-animation-fill-mode: forwards;
}

.typedOutButton {
  animation: typingButton 1.5s 6.5s;
  white-space: nowrap;
  -webkit-animation-fill-mode: forwards;
}
