@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-light: 242 241 252;
  --blue-med: 53 156 246;
  --blue-vibe: 0 216 255;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #2b4162;
  background: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
  overflow-x: hidden;
}

* {
  font-family: var(--font-inter);
  box-sizing: border-box;
  transition: 0.3s ease-in-out all;
}

@keyframes fadeInDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.fadeInDown-animation {
  animation: 1.5s fadeInDown;
}

.fadeInLeft-animation {
  animation: 1.5s fadeInLeft;
}

.free-center {
  left: 50%;
  transform: translateX(-50%);
}

.glass {
  backdrop-filter: blur(4px) saturate(191%);
  -webkit-backdrop-filter: blur(4px) saturate(191%);
  background-color: rgba(17, 25, 40, 0.22);
  border-radius: 12px;
  /* border: 1px solid rgba(255, 255, 255, 0.125); */
}

.glass-light {
  backdrop-filter: blur(4px) saturate(191%);
  -webkit-backdrop-filter: blur(4px) saturate(191%);
  background-color: rgba(189, 202, 229, 0.22);
  border-radius: 12px;
  /* border: 1px solid rgba(255, 255, 255, 0.125); */
}

.gradient-black {
  background-color: #2b4162;
  background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
}

.gradient-blue-rich {
  background: hsla(217, 100%, 50%, 1);

  background: radial-gradient(
    circle,
    hsla(217, 100%, 50%, 1) 35%,
    hsla(266, 100%, 47%, 1) 100%
  );

  background: -moz-radial-gradient(
    circle,
    hsla(217, 100%, 50%, 1) 35%,
    hsla(266, 100%, 47%, 1) 100%
  );

  background: -webkit-radial-gradient(
    circle,
    hsla(217, 100%, 50%, 1) 35%,
    hsla(266, 100%, 47%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0061FF", endColorstr="#6600EE", GradientType=1 );
}

.gradient-bright-blue {
  background: hsla(217, 100%, 50%, 1);

  background: radial-gradient(
    circle,
    hsla(217, 100%, 50%, 1) 35%,
    hsla(186, 100%, 69%, 1) 100%
  );

  background: -moz-radial-gradient(
    circle,
    hsla(217, 100%, 50%, 1) 35%,
    hsla(186, 100%, 69%, 1) 100%
  );

  background: -webkit-radial-gradient(
    circle,
    hsla(217, 100%, 50%, 1) 35%,
    hsla(186, 100%, 69%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0061FF", endColorstr="#60EFFF", GradientType=1 );
}

.gradient-bright-blue-2 {
  background: hsla(208, 91%, 59%, 1);

  background: radial-gradient(
    circle,
    hsla(208, 91%, 59%, 1) 35%,
    hsla(189, 100%, 50%, 1) 100%
  );

  background: -moz-radial-gradient(
    circle,
    hsla(208, 91%, 59%, 1) 35%,
    hsla(189, 100%, 50%, 1) 100%
  );

  background: -webkit-radial-gradient(
    circle,
    hsla(208, 91%, 59%, 1) 35%,
    hsla(189, 100%, 50%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#359CF6", endColorstr="#00D8FF", GradientType=1 );
}

.gradient-html {
  background: #ee0979; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff6a00,
    #ee0979
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff6a00,
    #ee0979
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient-light-primary {
  background: hsla(0, 0%, 100%, 1);

  background: radial-gradient(
    circle,
    hsla(0, 0%, 100%, 1) 35%,
    hsla(236, 100%, 97%, 1) 100%
  );

  background: -moz-radial-gradient(
    circle,
    hsla(0, 0%, 100%, 1) 35%,
    hsla(236, 100%, 97%, 1) 100%
  );

  background: -webkit-radial-gradient(
    circle,
    hsla(0, 0%, 100%, 1) 35%,
    hsla(236, 100%, 97%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFFFFF", endColorstr="#EFF0FF", GradientType=1 );
}

.gradient-selenium {
  background: #3c3b3f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #605c3c,
    #3c3b3f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #605c3c,
    #3c3b3f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  } /* Adjust as needed */
}
