@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-light: 196 227 254;
  --blue-med: 53 156 246;
  --blue-vibe: 0 216 255;
  --green-light: 47 185 183;
  --primary-light: 242 241 252;
  --purple-light: 212 214 245;
  --purple-med: 179 175 251;
  --red: 255 0 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

* {
  font-family: var(--font-inter);
  box-sizing: border-box;
  transition: 0.3s ease-in-out all;
}

.back-red-peaks {
  background-image: url("../../public/assets/images/redPeaks.png");
  background-position: center;
  background-size: cover;
}

.back-red-gradient {
  background-image: url("../../public/assets/images/redGradient.png");
  background-position: center;
  background-size: cover;
}

.back-white-peaks {
  background-image: url("../../public/assets/images/greyPeaks.png");
  background-position: center;
  background-size: cover;
}

.free-center {
  left: 50%;
  transform: translateX(-50%);
}

.glass {
  backdrop-filter: blur(4px) saturate(191%);
  -webkit-backdrop-filter: blur(4px) saturate(191%);
  background-color: rgba(17, 25, 40, 0.22);
  border-radius: 12px;
  /* border: 1px solid rgba(255, 255, 255, 0.125); */
  /* border: 2px solid black; */
}

.glass-light {
  backdrop-filter: blur(4px) saturate(191%);
  -webkit-backdrop-filter: blur(4px) saturate(191%);
  background-color: rgba(189, 202, 229, 0.22);
  border-radius: 12px;
  /* border: 1px solid rgba(255, 255, 255, 0.125); */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
